# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=erp_db

# Server
PORT=3000
NODE_ENV=development

# Company
COMPANY_CNPJ=00000000000000
COMPANY_NAME=Minha Empresa

# SEFAZ (NF-e)
SEFAZ_ENV=development
# production = produção real
# development = ambiente de testes
